flows.json
[
    {
        "id": "39bd83ded0b96786",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2e2105b0fb625762",
        "type": "group",
        "z": "39bd83ded0b96786",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "cb09b8f4b6b53ffe",
            "6e66d48c7ebb4f10",
            "d536fb23c8e7b4d5"
        ],
        "x": 1208,
        "y": 353,
        "w": 264,
        "h": 714
    },
    {
        "id": "cb09b8f4b6b53ffe",
        "type": "group",
        "z": "39bd83ded0b96786",
        "g": "2e2105b0fb625762",
        "name": "",
        "style": {
            "label": true
        },
        "nodes": [
            "33967e6c55e34e41",
            "927169e599ebe868"
        ],
        "x": 1234,
        "y": 379,
        "w": 212,
        "h": 142
    },
    {
        "id": "d536fb23c8e7b4d5",
        "type": "group",
        "z": "39bd83ded0b96786",
        "g": "2e2105b0fb625762",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "9e0c29ca0b0f135c",
            "2bf687125ba9eb34"
        ],
        "x": 1254,
        "y": 919,
        "w": 172,
        "h": 122
    },
    {
        "id": "1fc402946d691d60",
        "type": "mqtt in",
        "z": "39bd83ded0b96786",
        "name": "",
        "topic": "sensor/data",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "90f7c517367b6b10",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 60,
        "wires": [
            [
                "48e2cf7d370a7f26",
                "0692d8516e4d5768",
                "aff2eae471cb7ed1",
                "c590c75b28c3e91f"
            ]
        ]
    },
    {
        "id": "48e2cf7d370a7f26",
        "type": "json",
        "z": "39bd83ded0b96786",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 310,
        "y": 520,
        "wires": [
            [
                "529ecc8c4d8ce2c1",
                "2e750c42d5234fc7",
                "d5ad8a4038d0ec5c",
                "8907f660020b9c27"
            ]
        ]
    },
    {
        "id": "529ecc8c4d8ce2c1",
        "type": "file",
        "z": "39bd83ded0b96786",
        "name": "",
        "filename": "/home/matei/Documents/esp data/esp_data_test",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 640,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "2e750c42d5234fc7",
        "type": "debug",
        "z": "39bd83ded0b96786",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 300,
        "y": 600,
        "wires": []
    },
    {
        "id": "0692d8516e4d5768",
        "type": "debug",
        "z": "39bd83ded0b96786",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 160,
        "y": 140,
        "wires": []
    },
    {
        "id": "d5ad8a4038d0ec5c",
        "type": "function",
        "z": "39bd83ded0b96786",
        "name": "temp",
        "func": "var data = JSON.parse(msg.payload);\nmsg.payload = data.temperature;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 440,
        "wires": [
            [
                "9ef6096da7c9d852",
                "33967e6c55e34e41",
                "927169e599ebe868"
            ]
        ]
    },
    {
        "id": "9e0c29ca0b0f135c",
        "type": "ui_gauge",
        "z": "39bd83ded0b96786",
        "g": "d536fb23c8e7b4d5",
        "name": "",
        "group": "762530c4661c51cd",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "humidity ",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1340,
        "y": 960,
        "wires": []
    },
    {
        "id": "8907f660020b9c27",
        "type": "function",
        "z": "39bd83ded0b96786",
        "name": "humidity ",
        "func": "var data = JSON.parse(msg.payload);\nmsg.payload = data.humidity;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 620,
        "wires": [
            [
                "9e0c29ca0b0f135c",
                "9636c7f87037de71",
                "2bf687125ba9eb34"
            ]
        ]
    },
    {
        "id": "9636c7f87037de71",
        "type": "ui_text",
        "z": "39bd83ded0b96786",
        "group": "8d378f2a28dd06c7",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "hum txt ",
        "label": "humidity",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 600,
        "y": 660,
        "wires": []
    },
    {
        "id": "9ef6096da7c9d852",
        "type": "ui_text",
        "z": "39bd83ded0b96786",
        "group": "8d378f2a28dd06c7",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "temp txt ",
        "label": "temperature",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 580,
        "y": 480,
        "wires": []
    },
    {
        "id": "2bf687125ba9eb34",
        "type": "ui_chart",
        "z": "39bd83ded0b96786",
        "g": "d536fb23c8e7b4d5",
        "name": "humidity",
        "group": "7f381ba1b9ec11a5",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "humidity",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1340,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "33967e6c55e34e41",
        "type": "ui_chart",
        "z": "39bd83ded0b96786",
        "g": "cb09b8f4b6b53ffe",
        "name": "temperature",
        "group": "7f381ba1b9ec11a5",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1330,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "927169e599ebe868",
        "type": "ui_gauge",
        "z": "39bd83ded0b96786",
        "g": "cb09b8f4b6b53ffe",
        "name": "temperature",
        "group": "762530c4661c51cd",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "temperature",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1350,
        "y": 420,
        "wires": []
    },
    {
        "id": "6e66d48c7ebb4f10",
        "type": "ui_chart",
        "z": "39bd83ded0b96786",
        "g": "2e2105b0fb625762",
        "name": "H/T         ",
        "group": "2dc302e0378a8175",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "humidity",
        "chartType": "bar",
        "legend": "true",
        "xformat": "Temperature (°C)",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": "5",
        "removeOlderPoints": "1000",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1330,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "aff2eae471cb7ed1",
        "type": "function",
        "z": "39bd83ded0b96786",
        "name": "function 1",
        "func": "// data  formatted as an array for the chart\nmsg.payload = [{\"x\": Number(msg.payload.temperature), \"y\": Number(msg.payload.humidity)}];\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 540,
        "wires": [
            [
                "fd4772545b18e0fa",
                "6e66d48c7ebb4f10"
            ]
        ]
    },
    {
        "id": "fd4772545b18e0fa",
        "type": "debug",
        "z": "39bd83ded0b96786",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 480,
        "wires": []
    },
    {
        "id": "e3b913876337bd4f",
        "type": "ui_lineargauge",
        "z": "39bd83ded0b96786",
        "group": "762530c4661c51cd",
        "order": 3,
        "width": "0",
        "height": "0",
        "name": "Pressure",
        "colorLowArea": "#ffffc0",
        "colorMidArea": "#99ff99",
        "colorHighArea": "#ff8080",
        "unit": "hpa",
        "x": 1330,
        "y": 1160,
        "wires": []
    },
    {
        "id": "c590c75b28c3e91f",
        "type": "change",
        "z": "39bd83ded0b96786",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.pressure",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 120,
        "y": 960,
        "wires": [
            [
                "e3b913876337bd4f",
                "502d17d0547d11fa",
                "c4869e9be180c3de",
                "823aacef366bd3bf",
                "69760c22e1745fc9"
            ]
        ]
    },
    {
        "id": "c4869e9be180c3de",
        "type": "ui_text",
        "z": "39bd83ded0b96786",
        "group": "8d378f2a28dd06c7",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Pressure",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 120,
        "y": 920,
        "wires": []
    },
    {
        "id": "502d17d0547d11fa",
        "type": "debug",
        "z": "39bd83ded0b96786",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 120,
        "y": 1000,
        "wires": []
    },
    {
        "id": "823aacef366bd3bf",
        "type": "ui_gauge",
        "z": "39bd83ded0b96786",
        "name": "",
        "group": "762530c4661c51cd",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Pressure",
        "label": "hPa",
        "format": "{{value}}",
        "min": "1000",
        "max": "1030",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1300,
        "y": 1100,
        "wires": []
    },
    {
        "id": "69760c22e1745fc9",
        "type": "ui_chart",
        "z": "39bd83ded0b96786",
        "name": "",
        "group": "7f381ba1b9ec11a5",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Pressure",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1320,
        "y": 1240,
        "wires": [
            []
        ]
    },
    {
        "id": "afca1956c9896744",
        "type": "ui_spacer",
        "z": "39bd83ded0b96786",
        "name": "spacer",
        "group": "762530c4661c51cd",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "90f7c517367b6b10",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.36.252",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "762530c4661c51cd",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "c809c513e9d2a50f",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "8d378f2a28dd06c7",
        "type": "ui_group",
        "name": "debug 1",
        "tab": "62d3e675340cf829",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "7f381ba1b9ec11a5",
        "type": "ui_group",
        "name": "Group 2",
        "tab": "c809c513e9d2a50f",
        "order": 2,
        "disp": true,
        "width": 6
    },
    {
        "id": "2dc302e0378a8175",
        "type": "ui_group",
        "name": "Group 3",
        "tab": "c809c513e9d2a50f",
        "order": 3,
        "disp": true,
        "width": 6
    },
    {
        "id": "c809c513e9d2a50f",
        "type": "ui_tab",
        "name": "Tab 1",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "62d3e675340cf829",
        "type": "ui_tab",
        "name": "debug",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]